:root {
	--container-width: 1260px;
	--container-padding: 15px;
	--white-color: #fff;

	--font-main: 'Ubuntu', sans-serif;;
	--font-accent: 'Playfair Display', serif;

	--page-bg: #fff;
	--text-color: #1E212C;
	--text-muted: #787A80;
	--accent: #FF5A30;
	--white: #fff;


}

$laptopSize: 1199px;
$tabletSize: 959px;
$mobileSize: 699px;
$mobileXSSize: 499px;


.dark {
    --page-bg: #252526;
    --text-color: #fff;
}