.filter {
    position: relative;
    padding-top: 215px;
    padding-bottom: 100px;
}

.filter__items {
    position: absolute;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    column-gap: 20px;
    display: flex;

}

.filter__item {
    transition: background-color .3s;
    cursor: pointer;
    width: 230px;
    padding: 33px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    border-radius: 4px;
background: var(--white, #FFF);

/* shadow/small */
box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);

&:hover{
    background-color: var(--accent);

    .filter__item-title {
        color: #fff;
    }

    svg{
        
            fill: #fff;
        
    }
}


}
.filter__item-icon {
    pointer-events: none;
    svg{
        transition: fill .3s;
        fill: #FF5A30;

        &:hover{
            fill: #fff;
        }
    }
}
.filter__item-title {
    transition: color .3s;
    color: #9A9CA5;
    pointer-events: none;

/* base/bold */

font-size: 16px;

font-weight: 700;
line-height: 160%; /* 25.6px */
}

.filter__cards{

    margin-right: -30px;
    margin-bottom: 30px;
    
    display: flex;
    flex-wrap: wrap;

    .project-card{
        width: 390px;

        transition: 1s;
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(n + 10){
            height: 0;
            overflow: hidden;
        }

        &.is-visible{
            height: 440px;
            display: block;
        }
    }



    .project-card__desc{

        overflow: hidden;
        transition: 1s;

    }
}

.card-hide{
    opacity: 0;
    margin-right: 0 !important;
    .project-card__desc{
        scale: 0 !important;
    }
}
.filter__load-more-wrapper {
    justify-content: center;

    display: flex;
}
.filter__load-more {
    transition: scale .3s;
    color:#424551;
    display: flex;
    /* base/bold */
    column-gap: 16px;
    font-size: 16px;

    font-weight: 700;
    line-height: 160%; /* 25.6px */
    &:hover{
        &::before{
            transform: rotate(-180deg);
        }
    }
    &::before{
        transition: transform .3s;
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('./../img/load-more/icon.svg');
    }
}