.footer {
	background: #1E212C;
	padding: 80px 0;
    color: #fff;
}


.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 49px;
}
.footer__desc {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.footer__desc-top {
	display: flex;
	column-gap: 60px;
}
.footer__desc-logo {
}
.footer__desc-socials {
	column-gap: 16px;
	display: flex;
}
.footer__desc-text {

	opacity: 0.6;
	/* small/regular */
	max-width: 493px;
	font-size: 14px;

	font-weight: 400;
	line-height: 150%; /* 21px */
}

.footer-form__title {

	margin-bottom: 24px;
/* h4 */
	font-family: Ubuntu;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 36px */
}
.footer-form__subscribe {
	display: flex;
	width: 100%;
	margin-bottom: 16px;
}
.footer-form__input {
	flex-grow: 1;
	padding: 11px 16px 12px 16px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(255, 255, 255, 0.12);
	height: 44px;


}
.footer-form__button {
		padding: 0px 32px;



			font-size: 14px;

			font-weight: 700;
			line-height: 44px; /* 314.286% */
			letter-spacing: 0.5px;
			text-transform: uppercase;
	}

.footer-form__text {
	color: #FFF;
	max-width: 495px;
	font-size: 12px;
	font-weight: 400;
	line-height: 150%; /* 18px */
	opacity: 0.6;
}



.footer__bottom {
	display: flex;
	column-gap: 125px;
	margin-bottom: 60px;
}
.footer__bottom-item {
}
.footer__bottom-item-title {
	color: #FFF;

	/* h6 */

	font-size: 16px;

	font-weight: 700;
	line-height: 150%; /* 24px */
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.footer__bottom-item-list {
	display: flex;
	flex-direction: column;
	row-gap: 4px;

	li{

		a{
			opacity: .6;
		}
		span{
			opacity: 1;
		}
	};

	/* base/regular */
	font-family: Ubuntu;
	font-size: 16px;

	font-weight: 400;
	line-height: 160%; /* 25.6px */

	span{
		opacity: 1 !important;
		margin-right: 4px;
	}
}
.footer__copyright {
	display: flex;
	align-items: center;
	column-gap: 4px;
}