.header-services--main{

    background-image: url('./../img/services-page/bg/image.png');
    padding-bottom: 179px !important; 

    @include mediaWidth($laptopSize){
		padding-bottom: 120px !important;
	}

    @include mediaWidth($tabletSize){
		padding-bottom: 80px !important;
	}
}
.header-aboutUs--main{
	background-image: url('./../img/about-page/bg/image.png');
}
.header-services--design{
    
    background-image: url('./../img/services-page/bg/image-1.png');
    padding-bottom: 115px !important;
}

.header {
	background-color: transparent;
	padding: 20px 0;
	color: #424551;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@include mediaWidth($laptopSize){
		background-image: none !important;
	}
}
