.main-title{
    color: var(--text-color);

    /* display/1 */

    font-size: 72px;

    font-weight: 700;
    line-height: 130%; /* 93.6px */
    letter-spacing: 1px;

    &.main-page-title{
        color: var(--white);
    }
}