.news-card {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    max-width: 705px;
    &:hover{
        .news-card__title{
            color: var(--accent);
        }
    }
}
.news-card__img {

   
    overflow: hidden;


    max-height: 360px;

    img{
        width: 100%;
        object-fit: cover;

        height: 360px;
    }
}
.news-card__desc {
    padding: 24px;
    
    @include mediaWidth($mobileXSSize){
        padding: 6px;
    }
}
.news-card__title {
    transition: color .3s;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%; /* 30px */
    margin-bottom: 12px;

    
    @include mediaWidth($mobileXSSize){
        text-align: center;
    }
}
.news-card__date {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 16px;

    color: #787A80;

/* small/regular */

    font-size: 14px;

    font-weight: 400;
    line-height: 150%; /* 21px */
    @include mediaWidth($laptopSize){
        margin-bottom: 0;
    }
    @include mediaWidth($mobileXSSize){
        flex-direction: column;
        row-gap: 4px;

    }
}
.news__devider {
    width: 1px;
    height: 12px;
    background: #787A80;
    
    @include mediaWidth($mobileXSSize){
        display: none;
    }
}
.news-card__text {
    color: #424551;

    /* base/regular */

    font-size: 16px;

    font-weight: 400;
    line-height: 160%; /* 25.6px */
    display: -webkit-box;
    -webkit-line-clamp: 3; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include mediaWidth($laptopSize){
        display: none;
    }
}

.news-card__message{
    padding-left: 24px;
    position: relative;
    display: flex;
    align-items: center;
    &:before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        background-image: url('./../img/news/icons/message.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.news__cards-small {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex-shrink: 0;
    .news-card{
        max-width: 495px;
        @include mediaWidth($laptopSize){
            max-width: 705px;
        }
    }
    .news-card__desc{
        padding-top: 16px;


        @include mediaWidth($laptopSize){
            padding: 24px;
        }

        @include mediaWidth($mobileXSSize){
            padding: 6px;
        }
        
    }

    .news-card__title{
        margin-bottom: 8px;


        @include mediaWidth($laptopSize){
            margin-bottom: 12px;
        }

    }

    .news-card__img {
        
        max-height: 156px;
        @include mediaWidth($laptopSize){
            max-height: 360px;

            img{
                height: 360px;
            }
        }
    }
}
