.offer {
    padding-top: 120px;
    padding-bottom: 120px;

    
@include mediaWidth($laptopSize){
    padding-top: 80px;
    padding-bottom: 80px;

}

@include mediaWidth($tabletSize){
    padding-top: 60px;
    padding-bottom: 60px;
}

@include mediaWidth($mobileSize){
    padding-top: 40px;
    padding-bottom: 40px;
}

@include mediaWidth($mobileXSSize){
    padding-top: 30px;
    padding-bottom: 30px;
}
}

.offer__row {
    display: flex;
    column-gap: 105px;
    margin-bottom: 180px;

    @include mediaWidth($laptopSize){
        flex-direction: column;
        row-gap: 50px;
        margin-bottom: 50px;
    }


}
.offer__row-img {
    flex-shrink: 0;

    @include mediaWidth($laptopSize){
        img{
            width: 100%;
        }
    }
}
.offer__row-desc {

    @include mediaWidth($laptopSize){
        width: 50%;
        margin: 0 auto;
    }
}
.offer__row-title {
    margin-bottom: 60px;

    @include mediaWidth($laptopSize){
        margin-bottom: 10px;
        
    }
}
.title-h2 {
}


.offer__row-subtitle {
    cursor: pointer;
    padding-left: 44px;
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%; /* 42px */
    position: relative;

    &:before,&::after{
        content: '';
        background-color: var(--accent);
        left: 0;
        background-size: auto;
        background-repeat: no-repeat;
        top: 20px;
        position: absolute;
        width: 22px;
        height: 2px;
        
    }

    &::after{
        transition: transform .3s;
        transform: rotate(-90deg);
    }
    &.active{
        &::after{
            transform: rotate(0deg);
        }

    }
}
.offer__row-subtitle--first {
    margin-bottom: 12px;
    padding-left: 44px;
}
.offer__row-text {
    transition: opacity .3s, max-height .3s;
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    padding-left: 44px;
    margin-bottom: 24px;
    color: var(--text-muted);

    &.active{
        opacity: 1;
    }
/* base/regular */

font-size: 16px;

font-weight: 400;
line-height: 160%; /* 25.6px */
}



.offer__bottom-title {
    margin-bottom: 60px;


    @include mediaWidth($laptopSize){
        margin-bottom: 30px;
        text-align: center;
    }
}

.offer__bottom-stages {
    column-gap: 30px;
    display: flex;

    counter-reset: stage-counter;

    .stage{
        max-width: 285px;
    }

    @include mediaWidth($laptopSize){
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}