.services{
    padding: 212px 0 85px;
    background-image: url('./../img/bg/services-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mediaWidth($laptopSize){
        padding-top: 100px;
        padding-bottom: 80px
}

@include mediaWidth($tabletSize){
    padding-top: 80px;
    padding-bottom: 60px
}

@include mediaWidth($mobileSize){
    padding-top: 60px;
}

@include mediaWidth($mobileXSSize){
    padding-top: 30px;
}
}

.services__title {
    text-align: center;
    margin-bottom: 24px;
}

.services__row{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;

    @include mediaWidth(1300px){
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(2, auto);
    }

    @include mediaWidth($mobileXSSize){

        grid-template-columns: repeat(1, auto);
    }
}

.services__text{
    text-align: center;
    margin-bottom: 60px;
}




