.services{
    padding: 212px 0 85px;
    background-image: url('./../img/bg/services-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services__title {
    text-align: center;
    margin-bottom: 24px;
}

.services__row{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 80px;
}

.services__text{
    text-align: center;
    margin-bottom: 60px;
}

.services__bottom {
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    display: flex;
}


