.values-form {
    padding: 48px 60px;
    position: absolute;
    background-color: #fff;
    bottom: -92px;
    left: 50%;
    transform: translateX(-50%);
    
    @include mediaWidth($laptopSize){
        position: static;
        padding: 10px 20px;
        transform: translateX(0);
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    }
}
.values-form__title {
    margin-bottom: 34px;
    text-align: center;
}
.title-h3 {
}
.values-form__row {
    display: flex;
    column-gap: 24px;

    .button {
        padding: 0 32px;
        line-height: 44px;
        align-self: flex-end;
        border: none;
    }

    @include mediaWidth($laptopSize){
        flex-direction: column;
        row-gap: 24px;
    }
}
.values-form__field {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex-grow: 1;
    justify-content: end;
}
.values-form__field-text {
    color: var(--text-color);
}
.values-form__field-input {
    transition: border .2s;
    padding: 11px 16px;
    border-radius: 4px;
    border: 1px solid #D7DADD;
    background: #F4F5F6;

    &:focus{
        border: 1px solid var(--accent);
    }
}


