<div class="about-services__row">
    <div class="about-services__row-img">
        <img src="./img/services/bg/image@@img.jpg" alt="">
    </div>

    <div class="about-services__row-desc">
        <div class="about-services__row-title">
            <h2 class="title-h2 services-title">
                @@title
            </h2>
        </div>
        <div class="about-services__row-text">
            @@text
        </div>
        <a href="@@link" class="button button--transparent--accent">Learn more</a>
    </div>
</div>