<div class="plan">
    <div class="plan__header">
        <div class="plan__header-title">
            <p>Items</p>
        </div>

        <div class="plan__header-categories">

            <div class="plan__header-category">
                <p>BASIC</p>
                <span>$20 per m2</span>
            </div>


            <div class="plan__header-category">
                <p>STANDARD</p>
                <span>$30 per m2</span>
            </div>


            <div class="plan__header-category">
                <p>BUSINESS</p>
                <span>$40 per m2</span>
            </div>
        </div>



    </div>

    <div class="plan__benefits">
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Installation plan</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
            </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Planning solutions (2-3 options)</p>
            </div>

        <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
        </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Lighting plan</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
            </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Flooring plan</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
            </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Heating floor laying scheme</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
            </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Air conditioner zones layout</p>
            </div>

        <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
        </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>3D visualization of all rooms</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <p>simplified</p>
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
            </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Visualization of each room (3-4 angles)</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                
                </div>
                <div class="plan__benefit-advantage">
                  
                </div>
                <div class="plan__benefit-advantage">
                    <img src="./img/plan/mark.svg" alt="">
                </div>
            </div>


        </div>
        <div class="plan__benefit">
            <div class="plan__benefit-title">
                <p>Terms</p>
            </div>

            <div class="plan__benefit-advantages">
                <div class="plan__benefit-advantage">
                    <p>10 days</p>
                </div>
                <div class="plan__benefit-advantage">
                    <p>20 days</p>
                </div>
                <div class="plan__benefit-advantage">
                    <p>30 days</p>
                </div>
            </div>


        </div>
    </div>


    <div class="plan__footer">
        <div class="plan__footer-btns">
            <div class="plan__footer-btn">
                <button class="button button--transparent--accent">send request</button>
            </div>
            <div class="plan__footer-btn">
                <button class="button button--transparent--accent">send request</button>
            </div>
            <div class="plan__footer-btn">
                <button class="button button--transparent--accent">send request</button>
            </div>
       
          
            
        </div>
    </div>
</div>