
<div class="swiper-slide">
    <div class="testimonials-slide">
        <div class="testimonials-slide__img">
            <img src="./img/testimonials/avatars/@@img.png" alt="">
        </div>

        <div class="testimonials-slide__text">
            @@text
        </div>

        <div class="testimonials-slide__info">
            <div class="testimonials-slide__name">
                @@name
            </div>

            <div class="testimonials-slide__work">
                @@work
            </div>
        </div>
    </div>
</div>