<form class="values-form">
    <div class="values-form__title">
        <h3 class="title-h3">
            Want to know more? Ask us a question:
        </h3>
    </div>

        <div class="values-form__row">
            <label  class="values-form__field">
                <span class="values-form__field-text">Name</span>
                <input placeholder="Your name" type="name" class="values-form__field-input" required>
            </label>
            <label  class="values-form__field">
                <span class="values-form__field-text">Phone</span>
                <input placeholder="Your phone" type="name" class="values-form__field-input" required>
            </label>
            <label  class="values-form__field">
                <span class="values-form__field-text">Message</span>
                <input placeholder="Your message" type="name" class="values-form__field-input">
            </label>
            <button class="button">SEND</button>
            
        </div>
   




</form>